@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center font-weight-bold">
     <img src="~/css/escolarmanager.jpg" width=80 height=80> 
    <h1 class="display-4">Seja Bem Vindo!</h1>
      
</div>
